In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("S1AIW_S2AL2A_DEM_IDX_SOCS_SG_300m.csv")
df2 = pd.read_csv("land1_11_inven_300m.csv")
df3 = pd.read_csv("agb_only_geom.csv")

In [3]:
combined = df.merge(df2, left_on=["fid","id","left","top","right","bottom"], right_on=["fid","id","left","top","right","bottom"])

In [4]:
combined = combined.merge(df3, left_on=["fid","id","left","top","right","bottom"], right_on=["fid","id","left","top","right","bottom"])

In [5]:
combined

,fid,id,left,top,right,bottom,VH_1,VV_1,BAND_2,BAND_3,...,L_5,L_6,L_7,L_8,L_9,L_10,L_11,CATEGORY,WKT,AGB
0,1,1,293261.8479,652590.5522,293561.8479,652890.5522,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (293261.8479 652590.5522),NaN
1,2,2,293261.8479,652290.5522,293561.8479,652590.5522,0.042028,0.140731,75.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (293261.8479 652290.5522),NaN
2,3,3,293261.8479,651990.5522,293561.8479,652290.5522,0.042028,0.140731,174.0,474.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (293261.8479 651990.5522),NaN
3,4,4,293261.8479,651690.5522,293561.8479,651990.5522,0.036185,0.094639,30.0,231.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (293261.8479 651690.5522),NaN
4,5,5,293261.8479,651390.5522,293561.8479,651690.5522,0.040302,0.124519,272.0,735.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (293261.8479 651390.5522),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25278,25279,25279,350861.8479,614790.5522,351161.8479,615090.5522,0.029614,0.054618,286.0,697.0,...,12899.0,11241.0,9053.0,7981.0,5035.0,26608.0,24397.0,0.0,POINT (350861.8479 614790.5522),107.0
25279,25280,25280,350861.8479,614490.5522,351161.8479,614790.5522,0.014342,0.059826,279.0,684.0,...,12485.0,8738.0,6998.0,7159.0,5042.0,25739.0,23648.0,0.0,POINT (350861.8479 614490.5522),40.0
25280,25281,25281,350861.8479,614190.5522,351161.8479,614490.5522,0.015620,0.048791,249.0,704.0,...,15871.0,14647.0,11219.0,9079.0,5038.0,26268.0,24098.0,0.0,POINT (350861.8479 614190.5522),30.0
25281,25282,25282,350861.8479,613890.5522,351161.8479,614190.5522,0.022549,0.060471,113.0,332.0,...,20230.0,11871.0,8295.0,7580.0,5067.0,26710.0,24399.0,0.0,POINT (350861.8479 613890.5522),55.0
25282,25283,25283,350861.8479,613590.5522,351161.8479,613890.5522,0.016006,0.077701,239.0,698.0,...,22378.0,15366.0,10082.0,8581.0,5050.0,26885.0,24554.0,0.0,POINT (350861.8479 613590.5522),78.0

In [6]:
# combined = combined.drop(columns="Unnamed: 0")

input_vars = ["VH_1","VV_1","BAND_2","BAND_3","BAND_4","BAND_5","BAND_6",
                   "BAND_7","BAND_11","BAND_12","BAND_8A",
                   "DEM_CS","DEM_LSF","DEM_TWI",
                   "DEM_ELEV","EVI","NDVI","SATVI",
                   "L_1","L_2","L_3","L_4", "L_5", "L_6","L_7","L_8","L_9","L_10","L_11"]


gt_vars = ["SG_0_5","SG_15_30","SG_5_15","OC","AGB"]

land_sat = ["L_1","L_2","L_3","L_4", "L_5", "L_6","L_7","L_8","L_9","L_10","L_11"]

In [7]:
combined.fillna(0.0, inplace=True)
combined[input_vars] = combined[input_vars].replace(0.0, 0.000001)
combined[gt_vars] = combined[gt_vars].replace(0.0, 1.0)

In [8]:
# combined

In [9]:
# combined[input_vars] = (combined[input_vars] - combined[input_vars].min()) / (combined[input_vars].max() - combined[input_vars].min())

In [10]:
combined["CATEGORY"][1400:1410]

1400    1.0
1401    0.0
1402    1.0
1403    1.0
1404    1.0
1405    0.0
1406    0.0
1407    0.0
1408    0.0
1409    0.0
Name: CATEGORY, dtype: float64

In [11]:
# combined["CATEGORY"] = np.where(combined["CATEGORY"] == "Woodland", 1.0, 0.0)

In [12]:
# combined["CATEGORY"]

In [13]:
combined.to_csv("S1AIW_S2AL2A_DEM_IDX_SOCS_SG_L_INVEN_AGB_300m_processed.csv")